<div class="profile-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/358485/pexels-photo-358485.jpeg)">

  <div class="profile-show-banner-left-picture">
    <img class="profile-show-banner-avatar-square" alt="avatar-square" src=<%= @user.photo_url %> />
  </div>

  <div class="profile-show-banner-right-content">
    <h3><%= "#{@user.first_name} #{@user.last_name}"  %></h3>
    <p><%= @user.biography  %></p>
  </div>

</div>

<div class="profile-show-bottom">
  <div class="profile-show-bottom-left-profile-details-left">
    <div class="profile-show-bottom-headings-left"><p>Profile Details</p></div>

    <div class="profile-show-bottom-left-profile-details-card">
      <p><strong>Email: </strong><%= @user.email  %></p>
      <p><strong>First Name: </strong><%= @user.first_name  %></p>
      <p><strong>Last Name: </strong><%= @user.last_name  %></p>
      <p><strong>Profile Created: </strong><%= @user.created_at.strftime("%B %d, %Y")  %></p>

    </div>
  </div>

  <div class="profile-show-bottom-right-bookings">

    <!-- heading goes here -->

    <div class="profile-show-bottom-headings-right">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab">Upcoming</a></li>
        <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed</a></li>
      </ul>

    </div>

    <!-- heading goes here^^  -->





<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="upcoming">
    <!-- Upcoming Trip Cards goes here -->
    <div class="profile-show-bottom-right-bookings-cards-container-spacer">
      <div class="profile-show-bottom-right-bookings-cards">
        <% @user.bookings.each do |booking| %>
        <% booking.booking_items.each do |item| %>

        <% if item.bookable.class == Pack && booking.completed == false %>

          <img src=<%= item.bookable.photo_url %>>
          <div class="profile-show-bottom-right-bookings-cards-infos">
            <h2><%= item.bookable.name %></h2>
            <p><%= item.bookable.description %></p>

        <% elsif item.bookable.class == Item && booking.completed == false %>

          <img src=<%= item.bookable.photo_url %>>
          <div class="profile-show-bottom-right-bookings-cards-infos">
            <h2><%= item.bookable.name %></h2>
            <p><%= item.bookable.description %></p>

            <% end %>

        <% end %>
        <% end %>

        </div>
      </div>
    </div>

    <!-- Upcoming Card Trip Cards goes here ^^ -->
  </div>


  <div role="tabpanel" class="tab-pane fade" id="completed">
    <!-- Completed Trip Cards goes here -->

    <div class="profile-show-bottom-right-bookings-cards-container-spacer">
      <div class="profile-show-bottom-right-bookings-cards">
        <% @user.bookings.each do |booking| %>
        <% booking.booking_items.each do |item| %>

        <% if item.bookable.class == Pack && booking.completed == true %>

          <img src=<%= item.bookable.photo_url %>>
          <div class="profile-show-bottom-right-bookings-cards-infos">
            <h2><%= item.bookable.name %></h2>
            <p><%= item.bookable.description %></p>

        <% elsif item.bookable.class == Item && booking.completed == true %>

          <img src=<%= item.bookable.photo_url %>>
          <div class="profile-show-bottom-right-bookings-cards-infos">
            <h2><%= item.bookable.name %></h2>
            <p><%= item.bookable.description %></p>
            <% end %>
        <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <!-- Completed Card Trip Cards goes here ^^ -->
  </div>
</div>







  </div>
</div>





        <%# if item.bookable.class == Pack && booking.completed == false %>
          <%# item.bookable.name %>
          <%# item.bookable.description %>
          <%# item.bookable.photo_url %>
          <%# item.bookable.description %>
          <%# item.bookable.price %>
          <%# item.bookable.style %>
          <%# item.bookable.size %>
          <%# booking.delivery_address  %>
        <%# elsif item.bookable.class == Item && booking.completed == false %>
          <%# item.bookable.name %>
          <%# item.bookable.description %>
          <%# item.bookable.photo_url %>
          <%# item.bookable.description %>
          <%# item.bookable.price %>
          <%# item.bookable.style %>
          <%# item.bookable.size %>
        <%# end %>




<!--
>>  @user.bookings.last
=> #<Booking id: 25, fees: 20, delivery_address: "Impact Hub", delivery_date: "March 7 2018", return_deadline: "March 7 2018", completed: nil, traveler_id: 1, created_at: "2019-03-07 02:32:56", updated_at: "2019-03-07 02:32:56", booking_days: nil> -->

 <!--  >>  @user.bookings.last.booking_items.first.bookable
=> #<Pack id: 2, name: "Millenial Traveler Kit", style: "Hipster", size: "XXXL", duration: "14 days", price: 96, photo_url: "https://images.pexels.com/photos/57750/pexels-phot...", description: "This pack is really good for an international trip...", created_at: "2019-03-06 07:42:12", updated_at: "2019-03-06 07:42:12", packer_id: 2, booked: false> -->

<!-- packs
 t.string "name"
    t.string "style"
    t.string "size"
    t.string "duration"
    t.integer "price"
    t.string "photo_url"
    t.string "description" -->

    <!-- items
    t.string "name"
    t.string "description"
    t.string "category"
    t.string "style"
    t.string "size"
    t.integer "price"
    t.string "photo_url" -->
