<!-- START OF TRAVELER PROFILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<% if current_traveler %>


<div class="profile-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.45)), url('<%= image_path 'travelerbanner.jpg' %>')">

  <div class="profile-show-banner-left-picture">
    <img class="profile-show-banner-avatar-square" alt="avatar-square" src=<%= @user.photo_url %> />
  </div>

  <div class="profile-show-banner-right-content">
    <h3><%= "#{@user.first_name} #{@user.last_name}"  %></h3>
    <p><%= @user.biography  %></p>
  </div>

</div>

<div class="profile-show-bottom">
  <div class="profile-show-bottom-left-profile-details-left">
    <div class="profile-show-bottom-headings-left"><p>Profile Details</p></div>

    <div class="profile-show-bottom-left-profile-details-card">
      <p><strong>Email: </strong><%= @user.email  %></p>
      <p><strong>Name: </strong><%= @user.first_name  %> <%= @user.last_name  %></p>
      <p><strong>Profile Created: </strong><%= @user.created_at.strftime("%B %d, %Y")  %></p>

    </div>
  </div>







<div class="profile-show-bottom-right-bookings">

    <!-- heading goes here -->

    <div class="profile-show-bottom-headings-right">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab">Upcoming Bookings</a></li>
        <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed Bookings</a></li>
      </ul>

    </div>

    <!-- heading goes here^^  -->

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="upcoming">
      <!-- Upcoming Trip Cards goes here -->
      <% @user.bookings.each do |booking| %>
        <% booking.booking_items.each do |item| %>

          <% if item.bookable.class == Pack && booking.completed == false %>

            <div class="profile-show-bottom-right-bookings-cards-container-spacer">
              <div class="profile-show-bottom-right-bookings-cards">
                <img src=<%= item.bookable.photo_url %>>
                <div class="profile-show-bottom-right-bookings-cards-infos">
                  <h2>Pack: <%= item.bookable.name %><strong>   |   </strong> <%= item.bookable.duration %></h2>
                  <p><strong>Delivery Address: </strong><%= booking.delivery_address %></p>
                  <p>¥<%= item.bookable.price %> <strong>   |   </strong>Delivery: <%= booking.delivery_date %><strong>   |   </strong>Return: <%= booking.return_deadline %></p>
                  <p>Booking #: <%= booking.id %><strong>   |   </strong>Packer: <%= "#{booking.packer.first_name} #{booking.packer.last_name}" %><strong>   |   </strong>Packer Email: <%= "#{booking.packer.email}" %></p>
                </div>
              </div>
            </div>

          <% elsif item.bookable.class == Item && booking.completed == false %>

            <div class="profile-show-bottom-right-bookings-cards-container-spacer">
              <div class="profile-show-bottom-right-bookings-cards">
                <img src=<%= item.bookable.photo_url %>>
                <div class="profile-show-bottom-right-bookings-cards-infos">
                  <h2>Item: <%= item.bookable.name %></h2>
                  <p><strong>Delivery Address: </strong><%= booking.delivery_address %></p>
                  <p>¥<%= item.bookable.price %> <strong>   |   </strong>Delivery: <%= booking.delivery_date %><strong>   |   </strong>Return: <%= booking.return_deadline %></p>
                  <p>Booking #: <%= booking.id %><strong>   |   </strong>Packer: <%= "#{booking.packer.first_name} #{booking.packer.last_name}" %><strong>   |   </strong>Packer Email: <%= "#{booking.packer.email}" %></p>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
      <!-- Upcoming Card Trip Cards goes here ^^ -->
    </div>


    <div role="tabpanel" class="tab-pane fade" id="completed">
      <!-- Completed Trip Cards goes here -->

      <% @user.bookings.each do |booking| %>
        <% booking.booking_items.each do |item| %>

              <% if item.bookable.class == Pack && booking.completed == true %>

                <div class="profile-show-bottom-right-bookings-cards-container-spacer">
                  <div class="profile-show-bottom-right-bookings-cards">
                    <img src=<%= item.bookable.photo_url %>>
                    <div class="profile-show-bottom-right-bookings-cards-infos">
                      <h2>Pack: <%= item.bookable.name %></h2>
                      <p><strong>Delivery Address: </strong><%= booking.delivery_address %></p>
                      <p>¥<%= item.bookable.price %> <strong>   |   </strong>Delivery: <%= booking.delivery_date %><strong>   |   </strong>Return: <%= booking.return_deadline %></p>
                      <p>Booking #: <%= booking.id %><strong>   |   </strong>Packer: <%= "#{booking.packer.first_name} #{booking.packer.last_name}" %><strong>   |   </strong>Packer Email: <%= "#{booking.packer.email}" %></p>
                    </div>
                  </div>
                </div>

              <% elsif item.bookable.class == Item && booking.completed == true %>

                <div class="profile-show-bottom-right-bookings-cards-container-spacer">
                  <div class="profile-show-bottom-right-bookings-cards">
                    <img src=<%= item.bookable.photo_url %>>
                    <div class="profile-show-bottom-right-bookings-cards-infos">
                      <h2>Item: <%= item.bookable.name %></h2>
                      <p><strong>Delivery Address: </strong><%= booking.delivery_address %></p>
                      <p>¥<%= item.bookable.price %> <strong>   |   </strong>Delivery: <%= booking.delivery_date %><strong>   |   </strong>Return: <%= booking.return_deadline %></p>
                      <p>Booking #: <%= booking.id %><strong>   |   </strong>Packer: <%= "#{booking.packer.first_name} #{booking.packer.last_name}" %><strong>   |   </strong>Packer Email: <%= "#{booking.packer.email}" %></p>
                    </div>
                  </div>
                </div>

              <% end %>
        <% end %>
      <% end %>
      <!-- Upcoming Card Trip Cards goes here ^^ -->
    </div>
<% end %>
<!-- END OF TRAVELER PROFILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


<!-- START OF PACKER PROFILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<% if current_packer %>


<div class="profile-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path 'packerbanner.jpg' %>')">

  <div class="profile-show-banner-left-picture">
    <img class="profile-show-banner-avatar-square" alt="avatar-square" src=<%= @user.photo_url %> />
  </div>

  <div class="profile-show-banner-right-content">
    <h3><%= "#{@user.first_name} #{@user.last_name}"  %></h3>
    <p><%= @user.biography  %></p>
    <%= link_to "Closet", closet_profile_path, class: "profile-closet-pack-btn"%>
  </div>

</div>

<div class="profile-show-bottom">
  <div class="profile-show-bottom-left-profile-details-left">
    <div class="profile-show-bottom-headings-left"><p>Profile Details</p></div>

    <div class="profile-show-bottom-left-profile-details-card">
      <p><strong>Email: </strong><%= @user.email  %></p>
      <p><strong>Name: </strong><%= @user.first_name  %> <%= @user.last_name  %></p>
      <p><strong>Profile Created: </strong><%= @user.created_at.strftime("%B %d, %Y")  %></p>
      <p><strong>Number of Packs: </strong><%= @user.packs.count  %></p>
      <p><strong>Number of Items: </strong><%= @user.items.count  %></p>

    </div>
  </div>







<div class="profile-show-bottom-right-bookings">

    <!-- heading goes here -->

    <div class="profile-show-bottom-headings-right">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab">Upcoming Bookings</a></li>
        <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed Bookings</a></li>
      </ul>

    </div>

    <!-- heading goes here^^  -->

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="upcoming">
      <!-- Upcoming Trip Cards goes here -->
      <% @user.bookings.each do |booking| %>
        <% booking.booking_items.each do |item| %>

          <% if item.bookable.class == Pack && booking.completed == false %>

            <div class="profile-show-bottom-right-bookings-cards-container-spacer">
              <div class="profile-show-bottom-right-bookings-cards">
                <img src=<%= item.bookable.photo_url %>>
                <div class="profile-show-bottom-right-bookings-cards-infos">
                  <h2><%= item.bookable.name %><strong>   |   </strong> Deliver On: <%= booking.delivery_date %></h2>
                  <p>Delivery Address: <%= booking.delivery_address %></p>
                  <p>Booking #: <%= booking.id %><strong>   |   </strong>¥<%= item.bookable.price + 5000 %> <strong>   |   </strong>Return Date: <%= booking.return_deadline %></p>
                  <p>Traveler Name: <%= "#{booking.traveler.first_name} #{booking.traveler.last_name}" %><strong>   |   </strong>Traveler Email: <%= "#{booking.traveler.email}" %></p>
                </div>
              </div>
            </div>

          <% elsif item.bookable.class == Item && booking.completed == false %>

            <div class="profile-show-bottom-right-bookings-cards-container-spacer">
              <div class="profile-show-bottom-right-bookings-cards">
                <img src=<%= item.bookable.photo_url %>>
                <div class="profile-show-bottom-right-bookings-cards-infos">
                  <h2><%= item.bookable.name %><strong>   |   </strong> Deliver On: <%= booking.delivery_date %></h2>
                  <p>Delivery Address: <%= booking.delivery_address %></p>
                  <p>Booking #: <%= booking.id %><strong>   |   </strong>¥<%= item.bookable.price + 5000 %> <strong>   |   </strong>Return Date: <%= booking.return_deadline %></p>
                  <p>Traveler Name: <%= "#{booking.traveler.first_name} #{booking.traveler.last_name}" %><strong>   |   </strong>Traveler Email: <%= "#{booking.traveler.email}" %></p>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
      <!-- Upcoming Card Trip Cards goes here ^^ -->
    </div>


    <div role="tabpanel" class="tab-pane fade" id="completed">
      <!-- Completed Trip Cards goes here -->

      <% @user.bookings.each do |booking| %>
        <% booking.booking_items.each do |item| %>

              <% if item.bookable.class == Pack && booking.completed == true %>

                <div class="profile-show-bottom-right-bookings-cards-container-spacer">
                  <div class="profile-show-bottom-right-bookings-cards">
                    <img src=<%= item.bookable.photo_url %>>
                    <div class="profile-show-bottom-right-bookings-cards-infos">
                      <h2><%= item.bookable.name %></h2>
                      <p><strong>Delivery Address: </strong><%= booking.delivery_address %></p>
                      <p>¥<%= item.bookable.price + 5000 %> <strong>   |   </strong>Delivery: <%= booking.delivery_date %><strong>   |   </strong>Return: <%= booking.return_deadline %></p>
                      <p>Booking #: <%= booking.id %><strong>   |   </strong>Traveler: <%= "#{booking.traveler.first_name} #{booking.traveler.last_name}" %><strong>   |   </strong>Traveler Email: <%= "#{booking.traveler.email}" %></p>
                    </div>
                  </div>
                </div>

              <% elsif item.bookable.class == Item && booking.completed == true %>

                <div class="profile-show-bottom-right-bookings-cards-container-spacer">
                  <div class="profile-show-bottom-right-bookings-cards">
                    <img src=<%= item.bookable.photo_url %>>
                    <div class="profile-show-bottom-right-bookings-cards-infos">
                      <h2><%= item.bookable.name %></h2>
                      <p><strong>Delivery Address: </strong><%= booking.delivery_address %></p>
                      <p>¥<%= item.bookable.price + 5000 %> <strong>   |   </strong>Delivery: <%= booking.delivery_date %><strong>   |   </strong>Return: <%= booking.return_deadline %></p>
                      <p>Booking #: <%= booking.id %><strong>   |   </strong>Traveler: <%= "#{booking.traveler.first_name} #{booking.traveler.last_name}" %><strong>   |   </strong>Traveler Email: <%= "#{booking.traveler.email}" %></p>
                    </div>
                  </div>
                </div>

              <% end %>
        <% end %>
      <% end %>
      <!-- Upcoming Card Trip Cards goes here ^^ -->
    </div>


<% end %>

<!-- END OF PACKER PROFILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
