<% if tempcloset.include? item %>
  <div class="col-xs-12 col-sm-6 col-md-4" id="item-<%= item.id %>" style="position: relative;">
    <div class="pack-item-card"   style="filter: brightness(70%);">
<!--
 -->  <div class="pack-image" style="background-image: url(<%= item.photo_url %>);"></div>
      <div class="pack-description">
        <div><h6><%= item.style %></h6></div>
        <div class="pack-name"><h2><%= item.name %></h2></div>
        <div class="pack-size"><h6><%= item.size %></h6></div>
      </div>
      <div class="description-and-price">
        <div class="inner-pack-description">
          <h6><%= item.description %></h6>
        </div>
        <div class="pack-price">
        <h6>¥<%= number_with_delimiter(item.price, :delimiter => ',') %></h6>
        </div>
      </div>
       <%= link_to "", temp_closet_item_path(item), method: :delete, class: "item-link", remote: true %>
    </div>
      <span class="badge on-item" id="cart_icon"><i class="fas fa-check-circle"></i></span>
  </div>
<% else %>
  <div class="col-xs-12 col-sm-6 col-md-4" id="item-<%= item.id %>">
    <div class="pack-item-card">
      <div class="pack-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= item.photo_url %>);"></div>
      <div class="pack-description">
        <div><h6><%= item.style %></h6></div>
        <div class="pack-name"><h2><%= item.name %></h2></div>
        <div class="pack-size"><h6><%= item.size %></h6></div>
      </div>
      <div class="description-and-price">
        <div class="inner-pack-description">
          <h6><%= item.description %></h6>
        </div>
        <div class="pack-price">
        <h6>¥<%= number_with_delimiter(item.price, :delimiter => ',') %></h6>
        </div>
      </div>
       <%= link_to "", temp_closet_items_path(item: item), method: :post, class: "item-link", remote: true %>
    </div>
  </div>
<% end %>
