<div class="new-bookings-background">
  <div class="new-bookings-left-items">
    <div class="new-bookings-left-pack">
      <% total = 0 %>
      <% @cart.cart_items.each do |cart_item| %>
        <div class="container-spacer">
          <div class="new-bookings-card-product">
            <img src=<%= cart_item.cartable.photo_url  %>>
            <div class="new-bookings-card-product-infos">
              <h2><%= cart_item.cartable.name %> | ¥<%= number_with_delimiter(cart_item.cartable.price, :delimiter => ',') %></h2>
              <p><%= cart_item.cartable.description %></p>
              <%= link_to cart_item_path(cart_item), method: :delete, class: "new-bookings-card-delete" do %>
                <i class="fas fa-minus-circle new-bookings-button-color"></i>
                <% total += cart_item.cartable.price%>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    <div class="map-container">
      <div id="map">
      </div>
    </div>
  </div>
</div>


  <div class="new-bookings-right-items">
    <div class="new-bookings-right-form">
      <div class="new-bookings-form-card">
        <div id="search-form">
          <%= simple_form_for [@booking] do |f| %>
          <h3>Billing</h3>
            <% @cart.cart_items.each do |cart_item| %>
              <div class="billing">
                <div><%= cart_item.cartable.name %></div><div>¥<%= number_with_delimiter(cart_item.cartable.price, :delimiter => ',') %></div>
                </div>
              <% end %>
            <div class="billing">
              <div>Cleaning Fee</div><div>¥2,500</div>
            </div>
            <div class="billing">
              <div>Delivery Fee</div><div>¥2,500</div>
            </div>

            <div class="billing new-bookings-form-total">
              <div><h4>Total</h4></div><div><h4>¥<%= number_with_delimiter(total + 5000, :delimiter => ',') %></h4></div>
            </div>

            <div class="deliveryaddress-container">
              <p class="new-bookings-form-labels">Delivery Address</p>
              <%= f.input :delivery_address, label: false, input_html: { id: 'search-input' } %>
            </div>
            <p class="new-bookings-form-labels">Delivery Date & Time</p>
            <%= f.input :delivery_date, as: :string, placeholder: "Click to Select Date", label: false, input_html: {class: "datepicker"}%>
            <div class="padding">
              <form action="/action_page.php" method="get">
                <input type="checkbox" name="vehicle" value="Car"> I agree to the Packer Policies below.<br>
              </form>
            </div>
            <div class="btn-line">
              <%= f.button :button, 'BACK', type: :reset, class: "find-btn" %>
              <%= f.button :submit, "CONFIRM", class: "cart-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="new-bookings-right-policy-container">

      <div class="new-bookings-right-policy-heading">
        <p>Packer Policies</p>
      </div>

      <div class="new-bookings-right-policy-content">
        <ul>
          <li>Peel sticker off pack for prepaid return shipping label - drop off at any post.</li>
          <li>All items/packs must be returned to packer before return deadline.</li>
          <li>Cleaning Fee: ¥2,500 (Based on size of pack)</li>
          <li>Delivery Fee: ¥2,500 (Based on delivery distance)</li>
          <li>Penalty Fees will be assessed for any damaged or lost items.</li>
        </ul>
      </div>

    </div>




  </div>


</div>
