<div class="new-bookings-background">
  <div class="new-bookings-left-items">

    <div class="new-bookings-left-pack">
      <% @cart.cart_items.each do |cart_item| %>
        <div class="container-spacer">
          <div class="new-bookings-card-product">
            <img src=<%= cart_item.cartable.photo_url  %>>
            <div class="new-bookings-card-product-infos">
              <h2><%= cart_item.cartable.name %> | ¥<%= cart_item.cartable.price %></h2>
              <p><%= cart_item.cartable.description %></p>
              <%= link_to cart_item_path(cart_item), method: :delete do %>
                <i class="fas fa-minus-circle navbar-card-delete"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <div class="new-bookings-right-items">
    <div class="new-bookings-right-form">
      <div class="new-bookings-form-card">
        <%= simple_form_for [@booking] do |f| %>
          <p class="new-bookings-form-labels">CONFIRM DELIVERY LOCATION</p>
          <%= f.input :delivery_address, label: false %>
          <p class="new-bookings-form-labels">CONFIRM DELIVERY DATE</p>
          <%= f.input :delivery_date, as: :string, placeholder: "Click to Select Date", label: false, input_html: {class: "datepicker"}%>
          <div class="new-bookings-form-buttons-container">
            <%= f.button :button, 'BACK', type: :reset, class: "new-bookings-form-buttons" %>
            <%= f.button :submit, "CONFIRM", class: "new-bookings-form-buttons" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="new-bookings-right-policy-container">

      <div class="new-bookings-right-policy-heading">
        <p>PACKER POLICIES</p>
      </div>

      <div class="new-bookings-right-policy-content">
        <ul>
          <li>Peel sticker off pack for prepaid return shipping label - drop off at any post.</li>
          <li>All items/packs must be returned to packer before return deadline.</li>
          <li>Cleaning Fee: ¥5,000 (Based on size of pack)</li>
          <li>Delivery Fee: ¥5,000 (Based on delivery distance)</li>
          <li>Penalty Fees will be assessed for any damaged or lost items.</li>
        </ul>
      </div>

    </div>




  </div>


</div>
