<h4 class="dropdown-margin">Cart Total ¥<%= number_with_delimiter(current_traveler.cart.cost, :delimiter => ',') %></h4>
<% current_traveler.cart.cart_items.each do |cart_item| %>
  <% cart_object = cart_item.cartable %>
    <% if cart_object.class == Pack %>
      <%= link_to pack_path(cart_object), class: "card-linkee" do %>
        <div class="navbar-card">
          <div class="navbar-card-photo" style="background-image: url('<%= cart_object.photo_url %>')">
          </div>
          <div class="navbar-card-details">
            <%= link_to cart_item_path(cart_item), method: :delete, remote: :true do %>
                <i class="fas fa-minus-circle navbar-card-delete"></i>
            <% end %>
            <p class="cartcard-type"><%= cart_object.class %></p>
            <p class="card-category"><%= cart_object.style %></p>
            <p class="card-name"><%= cart_object.name %></p>
            <p class="card-size"><%= cart_object.size %></p>
            <p class="navbar-card-price">¥<%= number_with_delimiter(cart_object.price, :delimiter => ',') %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="navbar-card">
          <div class="navbar-card-photo" style="background-image: url('<%= cart_object.photo_url %>')">
          </div>
          <div class="navbar-card-details">
            <%= link_to cart_item_path(cart_item), method: :delete, remote: :true do %>
                <i class="fas fa-minus-circle navbar-card-delete"></i>
            <% end %>
            <p class="cartcard-type"><%= cart_object.class %></p>
            <p class="card-category"><%= cart_object.style %></p>
            <p class="card-name"><%= cart_object.name %></p>
            <p class="card-size"><%= cart_object.size %></p>
            <p class="navbar-card-price">¥<%= number_with_delimiter(cart_object.price, :delimiter => ',') %></p>
          </div>
        </div>
    <% end %>
<% end %>
<div class="btn-line">
  <%= link_to "CLEAR",  clear_cart_path(current_traveler.cart), method: :delete, class: "find-btn" %>
  <%= link_to "BOOK", new_booking_path, class: "cart-btn" %>
</div>

