<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

      <form class="form-inline left-form" action="/action_page.php">
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Location">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Delivery Date">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="pwd" placeholder="Trip Duration">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Style">
        </div>
      </form>

    <span class="find-btn">
      <%= link_to "FIND PACKS", packs_path %>
    </span>

    <% if traveler_signed_in? %>

      <!-- Links when logged in -->
      <%#= link_to "Host", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%#= link_to "Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%#= link_to "Messages", "#", class: "navbar-wagon-item navbar-wagon-link" %>

      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag 'cart-icon.png', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
<!--           <i class="fas fa-cart-arrow-down dropdown-toggle" id="navbar-wagon-menu"></i>
 -->        <div class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <h4 class="dropdown-margin">Your Cart</h4>
              <% current_traveler.cart.cart_items.each do |cart_item| %>
                <% cart_object = cart_item.cartable %>
                <% if cart_object.class == Pack %>
                  <%= link_to pack_path(cart_object), class: "card-linkee" do %>
                    <div class="navbar-card">
                      <div class="navbar-card-photo" style="background-image: url('<%= cart_object.photo_url %>')">
                      </div>
                      <div class="navbar-card-details">
                        <%= link_to cart_item_path(cart_item), method: :delete do %>
                          <i class="fas fa-minus-circle navbar-card-delete"></i>
                        <% end %>
                        <p class="card-category"><%= cart_object.style %></p>
                        <p class="card-name"><%= cart_object.name %></p>
                        <p class="card-size"><%= cart_object.size %></p>
                        <p class="navbar-card-price"><%= cart_object.price %></p>
                      </div>
                    </div>
                  <% end %>
                <% elsif cart_object.class == Item %>
                  <%= link_to pack_path(cart_object) do %>
                    <div class="navbar-card">
                      <div class="navbar-card-photo" style="background-image: url('<%= cart_object.photo_url %>')">
                      </div>
                      <div class="navbar-card-details">
                        <p class="card-category"><%= cart_object.style %></p>
                        <p class="card-name"><%= cart_object.name %></p>
                        <p class="card-size"><%= cart_object.size %></p>
                        <p class="navbar-card-price"><%= cart_object.price %></p>
                        <%= link_to "delete", cart_item_path(cart_item), method: :delete %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <div class="btn-line">
                <%= link_to "create booking", new_booking_path, class: "booking-btn" %>
                <%= link_to "clear cart", cart_path(current_traveler.cart), method: :delete, class: "clear-btn" %>
              </div>

            <!-- <li>
              <%#= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%#= t(".settings", default: "Settings") %>
              <#% end %>
            </li>
            <li>
              <%#= link_to destroy_traveler_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%#= t(".sign_out", default: "Log out") %>
              <#% end %>
            </li> -->
          </div>
        </div>
      </div>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag current_traveler.photo_url, class: "avatar dropdown-toggle center", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to profile_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_traveler_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_traveler_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

