<div class="home-container">
  <div class="home-background">
    <div class="name-and-logo">
      <span id="app-name">airPack <%= image_tag('logo.png') %></span>
    </div>
    <div class="home-links-container">
      <span class="home-link"><%= link_to "Become a Packer", new_packer_registration_path %></span>
      <span class="home-link"><%= link_to "Traveler Signup", new_traveler_registration_path %></span>
      <span class="home-link"><%= link_to "Packer Login", new_packer_session_path %></span>
      <span class="home-link"><%= link_to "Traveler Login", new_traveler_session_path %></span>
    </div>
  </div>
  <div class="bottom-half">
    <div class="pack-model-cards">
      <div class="fadein">
        <p id="main-image"><%= image_tag 'home-card.png', id: 'f1' %></p>
        <p id="main-image"><%= image_tag 'model.png', id: 'f2' %></p>
        <p id="main-image"><%= image_tag 'pack1.jpg', id: 'f3' %></p>
        <p id="main-image"><%= image_tag 'model1.jpg', id: 'f4' %></p>
        <p id="main-image"><%= image_tag 'pack2.jpg', id: 'f5' %></p>
       <!--  <p id="main-image"><%#= image_tag 'model2.jpg', id: 'f6' %></p> -->
      </div>
    </div>
    <div class="home-content">
      <div class="main-description">
        <h1>Rent travel essentials packed</h1>
        <h1>and delivered by locals</h1>
      </div>
      <div class="form-content">
        <%= simple_form_for [@pack] do |f| %>
          <%= simple_fields_for :other do |o| %>
           <h5><%= o.input :location, label: 'TRAVEL DESTINATION', collection: ["Shibuya, Tokyo", "Ginza, Tokyo", "Shinjuku, Tokyo", "Meguro, Tokyo", "Roppongi, Tokyo", "Minato, Tokyo", "Gotanda, Tokyo", "Shinagawa, Tokyo", "Shin-Okubo, Tokyo", "Chiba, Tokyo"], input_html: { class: 'form-headers' }%></h5>
          <% end %>
          <h5><%= f.input :duration, label: 'TRIP DURATION', collection: ["3-4 days", "7-8 days", "14-15 days"], input_html: { class: 'form-headers' }%></h5>
          <h5><%= f.input :size, label: 'PACK SIZE', collection: %w(XS S M L XL), input_html: { class: 'form-headers' } %></h5>
          <h5><%= f.input :style, label: 'PACK STYLE', collection: %w(Jock Prepster Hipster Corporate Hip-Hop Outdoorsy Rockstar Vintage), input_html: { class: 'form-headers' } %></h5>
        <% end %>
      </div>
      <div class="discoverbutton">
        <%= link_to "DISCOVER PACKS", packs_path, class: "packs-btn btn-lg" %>
      </div>
    </div>
  </div>
</div>
