<div class="newpackpage-container">
  <div class="newpack-form-container sticky">
    <div class="newpack-form">

      <%= simple_form_for [@packer, @pack] do |f|%>
      <div class="newpack-heading">
        <h5>Fill New Pack Details</h5>
      </div>
        <h5><%= f.input :name, label: 'Name', wrapper_html: { class: 'small-font' } %></h5>
        <h5><%= f.input :style, label: 'Style', collection: %w(Jock Prepster Hipster Corporate Hip-Hop Outdoorsy Rockstar Vintage), wrapper_html: { class: 'small-font' } %></h5>
        <h5><%= f.input :size, label: 'Size', collection: %w(XS S M L XL), wrapper_html: { class: 'small-font' } %></h5>
        <!-- <h5><%#= f.input :duration, label: 'Duration', collection: ["3-4 days", "7-8 days", "14-15 days"], wrapper_html: { class: 'small-font' } %></h5> -->
        <h5><%= f.input :price, label: 'Price (¥)', wrapper_html: { class: 'small-font' } %></h5>
        <h5><%= f.input :description, label: 'Description', wrapper_html: { class: 'new-pack-description small-font' } %></h5>
        <%= f.input :photo, label: 'Photo' %>
        <%= f.input :photo_cache, as: :hidden %>
        <div class="create-pack-btns">
          <div class="form-actions">
            <%= link_to "BACK", closet_profile_path(current_packer), {:class=>"btn find-btn"} %>
          </div>
          <div class="form-actions create-pack-btn">
            <%= f.button :submit, "CREATE" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div class="packs-items-container">
    <div class="pack-item-row">
      <% unless @filtered_items.nil? %>
        <% @filtered_items.each do |item| %>
          <%= render 'temp_closet_items/item', tempcloset: @tempcloset, item: item %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
