<div class="wrapper">
  <div class="container banner" style="background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)), url('<%= image_path 'pack_banner.jpg' %>')">
    <div class="container bnr-card">
      <div class="container bc-photo" style="background-image: url('<%= cl_image_path @pack.photo, height: 300, width: 400, crop: :fill %>')">
      </div>
      <div class="container bc-details">
        <% if traveler_signed_in? %>
          <span class="card-price show-pack-btn right">
          <%= link_to "Add to Cart", cart_items_path(cartable_id: @pack.id, cartable_type: @pack.class), method: :create %>
          </span>
        <% elsif @pack.packer == current_packer %>
          <span class="card-price show-pack-btn right">
          <%= link_to "Edit Pack", edit_pack_path(@pack) %>
          </span>
        <% end %>
        <p class="card-category">Tops: <%= @pack.top_count %>, Bottoms: <%= @pack.bottom_count %>, Misc: <%= @pack.misc_count %></p>
        <p class="card-name"><%= @pack.name %></p>
        <strong><p class="card-name"><%= @pack.style %> · <%= @pack.size %></p></strong>
        <p><%= @pack.description %></p>
        <p class="card-price">¥<%= number_with_delimiter(@pack.price, :delimiter => ',') %></p>
      </div>
    </div>
    <div class="container sm-profile">
      <div class="img-circle" style="background-image: url('<%= cl_image_path @pack.packer.photo_url, height: 300, width: 400, crop: :fill %>');">
      </div>
      <div class="packername"><%=  @pack.packer.fullname %></div>
      <div class="packername">
        <%  @pack.packer.avg_rating.to_i.times do%>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <%  @pack.packer.blank_stars.to_i.times do%>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      </div>
      <div class="packername"><%=  @pack.packer.reviews_count %> reviews</div>
    </div>
  </div>

  <div class="pack-show-tabs">
    <ul class="nav nav-tabs" role="tablist">

        <li role="presentation" class="active"><a href="#tops" aria-controls="tops" role="tab" data-toggle="tab" aria-controls="tops" aria-selected="true">Tops</a></li>

        <li role="presentation"><a href="#bottoms" aria-controls="bottoms" role="tab" data-toggle="tab" aria-controls="bottoms" aria-selected="false">Bottoms</a></li>

        <li role="presentation"><a href="#miscellaneous" aria-controls="miscellaneous" role="tab" data-toggle="tab" aria-controls="miscellaneous" aria-selected="false">Miscellaneous</a></li>

      </ul>
  </div>

 <div class="tab-content">

  <div role="tabpanel" class="tab-pane fade in active" id="tops" aria-labelledby="tops">

    <% tops = @pack.items.select { |item| item.category == "Top" } %>

    <div class="container body-of-cards">
      <% tops.first(30).each do |item| %>
        <div class="col-xs-12 col-md-4">
              <div class="card">
                <div class="card-photo" style="background-image: url('<%= cl_image_path item.photo_url, height: 300, width: 400, crop: :fill %>');">
                </div>
                <div class="card-details">
                    <p class="card-name"><%= item.name %></p>
                    <p><%= item.description %></p>
                    <p class="card-type"><%= item.category %></p>
                </div>
              </div>
        </div>
      <% end %>
    </div>



  </div>

  <div role="tabpanel" class="tab-pane fade" id="bottoms" aria-labelledby="bottoms">

     <% bottoms = @pack.items.select { |item| item.category == "Bottom" }%>

     <div class="container body-of-cards">
      <% bottoms.first(30).each do |item| %>
        <div class="col-xs-12 col-md-4">
              <div class="card">
                <div class="card-photo" style="background-image: url('<%= cl_image_path item.photo_url, height: 300, width: 400, crop: :fill %>');">
                </div>
                <div class="card-details">
                    <p class="card-name"><%= item.name %></p>
                    <p><%= item.description %></p>
                    <p class="card-type"><%= item.category %></p>
                </div>
              </div>
        </div>
      <% end %>
    </div>

  </div>


  <div role="tabpanel" class="tab-pane fade" id="miscellaneous" aria-labelledby="miscellaneous">

    <% miscellaneous_items = @pack.items.reject { |item| item.category == "Bottom" || item.category == "Top" }%>

     <div class="container body-of-cards">
      <% miscellaneous_items.first(30).each do |item| %>
        <div class="col-xs-12 col-md-4">
              <div class="card">
                <div class="card-photo" style="background-image: url('<%= cl_image_path item.photo_url, height: 300, width: 400, crop: :fill %>');">
                </div>
                <div class="card-details">
                    <p class="card-name"><%= item.name %></p>
                    <p><%= item.description %></p>
                    <p class="card-type"><%= item.category %></p>
                </div>
              </div>
        </div>
      <% end %>
    </div>

  </div>

 </div>












