<div class="wrapper">
  <div class="container banner" style="background-image: linear-gradient(rgba(0, 0, 0, .33), rgba(0, 0, 0, 0.33)), url('<%= image_path 'pack_banner.jpg' %>')">
    <div class="container bnr-card">
      <div class="container bc-photo" style="background-image: url('<%= cl_image_path @pack.photo, height: 300, width: 400, crop: :fill %>')">
      </div>
      <div class="container bc-details">
        <span class="card-price show-pack-btn right">
          <%= link_to "Add to Cart", cart_items_path(cartable_id: @pack.id, cartable_type: @pack.class), method: :create %>
        </span>
        <p class="card-category"><%= @pack.style %> · <%= @pack.duration %></p>
        <p class="card-name"><%= @pack.name %></p>
        <p class="card-size"><%= @pack.size %></p>
        <p><%= @pack.description %></p>
        <p class="card-price">¥<%= @pack.price %></p>
      </div>
    </div>
    <div class="container sm-profile">
      <%= image_tag @pack.packer.photo_url, class: "img-circle" %>
      <div><%=  @pack.packer.first_name %></div>

    </div>
  </div>
  <div class="container body-of-cards">
    <% @pack.items.first(30).each do |item| %>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="card-photo" style="background-image: url(<%= item.photo_url %>);"></div>
          <div class="card-details">
            <p class="card-name"><%= item.name %></p>
            <p><%= item.description %></p>
            <p class="card-type"><%= item.category %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
